/* aqui modifico el espacio del trabajo */
body{
    background-color: black;
    font-family: 'Merriweather Sans', sans-serif;
}


.hoja_blanca{
    background-color: white;
    margin: 170px 230px 170px 230px;
    padding: 25px ;
}

/* A partir de aqui modifico el contenido del postcard */
/* primera seccion */
.seccion_1{
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather Sans', sans-serif;
}

.img{
    height: 85px;
    width: 85px;
}

/* segunda seccion */
.seccion_2{
    display: flex;   
}

.lado_izquierdo{
    padding: 0px 30px 20px 0px;
}

/* aqui esta el formulario */
.lado_derecho{
    padding: 15px 20px 20px 0px;
}

.formulario_1{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/* Tercera Seccion */
.seccion_3{
    display: flex;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
}